# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# Java
*.class
*.jar
*.war

# IDE
.idea/
.vscode/

# Environment / Secrets
.env
*.pem
*.key
*.crt

# Logs
*.log

# OS files
.DS_Store
Thumbs.db
